<div data-page="index" class="page" ng-controller="IndexPageController">
  <!-- Page content-->
  <div class="page-content">
    <div class="list-block">
      
      <div style="cursor:pointer" ng-click="events.onClick()">{{message.title}}</div>
      
      <br>
      
      <ul>
        <!--
        <li ng-repeat="page in pages">
          <a href="#index" class="item-link">
            <div class="item-content">
              <div class="item-inner"> 
                <div class="item-title"></div>
              </div>
            </div>
          </a>
        </li>
        -->

        <li>
          <a href="#page2" class="item-link">
            <div class="item-content"> 
              <div class="item-inner">
                <div class="item-title">Go to page 2</div>
              </div>
            </div>
          </a>
        </li>

      </ul>

    </div>
  </div>
</div>